.articles-modal .em-c-modal__window {
    width: 100%;
    padding: 0;
    overflow: auto;
    max-height: 95vh;
    max-width: calc(100% - 40px);
    margin: 0;
}

.em-c-modal__title {
    font-size: 30px;
    font-family: "EMprintRegular", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    color: #3a397b;
    margin: 0 0 5px;
    width: calc(100% - 100px);
}

.em-c-modal__close-btn {
    position: relative;
    margin: 0 0 0 auto;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: url(../../../../assets/images/icon-close.png) no-repeat;
    border: 0;
    padding: 0;
    transition: 0.3s ease;
}

.em-c-modal__header {
    padding: 15px 30px 0;
}

.em-c-modal__body {
    padding: 15px 50px;
    position: relative;
    border: 0;
}

.share-link {
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-family: "EMprintSemibold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    color: #454545;
    margin-bottom: 10px;
}

.share-link:after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../../../../assets/images/icon-share-gray.png) no-repeat;
    background-size: 16px;
    margin: 0 0 -1px 5px;
}

.share-link:hover {
    text-decoration: underline;
}

.share-link-panel {
    display: inline-block;
    width: 100%;
}

.description {
    font-size: 18px;
    line-height: 26px;
    color: #272727;
}

.link-copy-message {
    position: absolute;
    color: #ffffff;
    float: right;
    margin-right: 1.0rem;
    background: #3a397b;
    padding: 5px 15px;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    text-align: center;
    z-index: 9;
    border-radius: 10px;
    border-bottom: 5px solid #626196;
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.48);
}

::ng-deep .description a {
    color: #3a397b;
}

::ng-deep .description a:hover {
    text-decoration: underline;
}

.article-details.video .em-l-grid__item {
    width: 100% !important;
    height: auto !important;
}

.article-details.video {
    display: block;
}

.article-details.video .articles__image {
    text-align: center;
}

.article-details.video .em-l-grid__item video {
    width: 100%;
    max-width: 700px;
}

.article-details {
    height: calc(100vh - 130px);
}

.articles__image {
    height: 100%;
    text-align: center;
    position: relative;
}

.articles__image img {
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.article-details .em-l-grid__item:first-child {
    width: 35%;
    height: 100%;
    order: 2;
}

.article-details .em-l-grid__item:last-child {
    width: 65%;
    order: 1;
}

.article-details.video .em-l-grid__item:last-child {
    order: 2;
}

.article-details.video .em-l-grid__item:first-child {
    order: 1;
    height: auto;
}

.article-details .articles__image .share-link {
    display: none;
}

.article-details.video .articles__image .share-link {
    display: block;
    text-align: left;
}

.article-details.video .articles__content .share-link {
    display: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .articles-modal .em-l-grid__item {
        display: block;
    }
}

@media(max-width: 751px) {
    .description {
        font-size: 18px;
        color: #272727;
    }
    .em-c-modal__title {
        font-size: 20px;
        margin: 0;
        line-height: 25px;
    }
    .description {
        font-size: 16px;
    }
    .article-details .em-l-grid__item {
        width: 100% !important;
        height: auto !important;
    }
    .article-details {
        height: auto;
    }
    .em-c-modal__body {
        padding: 0 20px;
    }
    .em-c-modal__title {
        width: 100%;
    }
    .share-link {
        width: 100%;
        display: inline-block;
    }
}