<footer class="em-c-footer" role="contentinfo" id="footer">
    <div class="em-l-container">
        <div class="em-l-grid em-l-grid--1up">
            <div class="em-l-grid__item">
                <div class="fpo-block ">
                    <ul class="em-c-multicolumn-nav em-c-multicolumn-nav--horizontal">
                        <li class="em-c-multicolumn-nav__item">
                            <h3>
                                <div class="em-c-multicolumn-nav__link"><img [src]="footerLogo"
                                        alt=""></div>
                            </h3>
                        </li>
                        <li class="em-c-multicolumn-nav__item margin-left-auto">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>